recursive-include braubuddy/static *.js *.css *.svg *.ico
recursive-include braubuddy/templates *.html
recursive-include braubuddy/config *
include CONTRIBUTE.rst
include README.rst
include LICENSE.txt
