<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/nv.d3.min.css" />
<link rel="stylesheet" href="/css/braubuddy.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="60" >
<meta charset="utf-8">
<script src="/js/jquery-1.11.0.min.js" type='text/javascript'></script>
<script src="/js/bootstrap.min.js" type='text/javascript'></script>
<script src="/js/d3.min.js" type='text/javascript'></script>
<script src="/js/nv.d3.min.js" type='text/javascript'></script>
<title>Braubuddy - {% block title %}{% endblock %}</title>
{% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
{% block footer %}
<div align=center>
    <h6>By <a href="http://jimter.net/">James Stewart</a>.</h6>
</div>
{% endblock %}
</div>
</body>
</html>
