{% extends "base.html" %}
{% block title %}Braubuddy{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script src='/js/charts.js' type='text/javascript'></script>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <h1>{{'%0.2f'| format(temp|float)}}&deg;{{ units }}</h1>
        </div>
        <div class="col-md-2 voffset2">
            <h5>Target: {{ target }}&deg;{{ units }}</h5>
            <h5>Cycle: {{ time }}</h5>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <h3>Heat: {{ heat }}</h2>
        </div>
        <div class="col-md-2">
            <h3>Cool: {{ cool }}</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="chart-hourly">
                <svg></svg>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="chart-daily">
                <svg></svg>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
