{% extends "base.html" %}
{% block title %}Braubuddy{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div class="inline-headers">
                <h1 id="temp-current">&infin;</h1><h1>&deg;{{ units }}</h1>
            </div>
        </div>
        <div class="col-md-2 voffset2">
            <div class="inline-headers">
                <h5><strong>Target:&nbsp;</strong></h5>
                <h5 id="temp-target">&infin;</h5><h5>&deg;{{ units }}</h5>
            </div>
            <div class="inline-headers">
                <h5><strong>Cycle:&nbsp;</strong></h5>
                <h5 id="cycle-time">&infin;</h5>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div class="inline-headers">
                <h3><i class="glyphicon glyphicon-fire"></i></h3>
                <h2 id="heat-level">&infin;</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="inline-headers">
                <h3><i class="glyphicon glyphicon-asterisk"></i></h3>
                <h2 id="cool-level">&infin;</h2>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="chart-hourly">
                <svg></svg>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="chart-daily">
                <svg></svg>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script src='/js/charts.js' type='text/javascript'></script>
<script type='text/javascript'>
  window.onload=function(){
    initChartsGauges();
    setInterval(function(){
      updateGauges();
      renderCharts();
      }, {{ frequency * 1000 }});
  }
</script>
{% endblock %}
