.displaybox {
    background-color: #00f;
    border-radius: 6px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.inline-headers h1,
.inline-headers h2,
.inline-headers h3, 
.inline-headers h4, 
.inline-headers h5, 
.inline-headers h6 
{
  display: inline-block;
  vertical-align: baseline;
}

a { color: #000 }
